[Desktop Entry]
Name=Aeskulap Viewer
Comment=Medical image viewer and DICOM network client
Exec=aeskulap
Icon=aeskulap
Terminal=false
Type=Application
Categories=Viewer;MedicalSoftware;Graphics;
StartupNotify=true
MimeType=image/dicom;
Keywords=Medical Record;Practice Management System;Medical Practice;Surgery

